<div class="main-content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="ik ik-edit bg-blue"></i>
                        <div class="d-inline">
                            <h5>Components</h5>
                            <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <nav class="breadcrumb-container" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="../index.html"><i class="ik ik-home"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Forms</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Components</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><h3>Default form</h3></div>
                    <div class="card-body">
                        <form #form="ngForm" (submit)="register()">
                            <div class="form-group">
                                <label for="exampleInputUsername1">name</label>
                                <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username"
                                #name="ngModel" name="name"[(ngModel)]="formModel.name">
                            </div>
                            <div class="form-group" (submit)="register()">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"
                                #email="ngModel" name="email"[(ngModel)]="formModel.email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                                #password="ngModel" name="password"[(ngModel)]="formModel.password">
                            </div>
                            
                           
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                          </form>
                    </div>
                </div>
            </div>

            </div>
        </div>

       

       
    </div>
